VITE_SUPABASE_URL=https://rwjuvqsqdsoxnyentmuv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ3anV2cXNxZHNveG55ZW50bXV2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkwMDcwNjEsImV4cCI6MjA5NDU4MzA2MX0.s8uQwOSqZLN0rMtO7RUWrCwohErxUcxmD5uOoUFh924
GROQ_API_KEY=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
GEMINI_API_KEY=AIzaSyBnfIXOOqv1QjtI-gV6AtHansr1ig6aE1s
